<form name="editUser">
  <fieldset>
    <legend>
      Edit User
    </legend>
      <div class="control-group">
        <label class="control-label">
          First Name
        </label>
        <div class="controls">
            <input type="text"
                   name="user[firstName]"
                   ng-model="user.firstName"
                   class="text_field"
                   required>
          <span ng-show="editUser.firstName.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Last Name
        </label>
        <div class="controls">
            <input type="text"
                   name="user[lastName]"
                   ng-model="user.lastName"
                   class="text_field"
                   required>
          <span ng-show="editUser.lastName.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Contact No
        </label>
        <div class="controls">
            <input type="text"
                   name="user[contactNo]"
                   ng-model="user.contactNo"
                   class="text_field"
                   required>
          <span ng-show="editUser.contactNo.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
    <div class="form-actions">
      <button class="btn btn-success" ng-click="save()"
        ng-disabled="isClean() || editUser.$invalid">
        Save
      </button>
      <button ng-click="destroy()"
              ng-show="user.id"
              class="btn btn-danger">
              <i class="icon-trash"></i>Delete
      </button>
      <a href="/users" class="btn">
        Back to users
      </a>
    </div>
  </fieldset>
</form>

