<h1>User</h1>

<p>
  <b>Firstname</b><br>
  {{user.firstName}}
</p>

<p>
  <b>Lastname</b><br>
  {{user.lastName}}
</p>

<p>
  <b>Contactno</b><br>
  {{user.contactNo}}
</p>

<div class="form-actions">
  <a href="/users/{{user.id}}/edit"
    class="btn btn-primary"><i class="icon-edit"></i>
    Edit User
  </a>
  <button ng-click="destroy()" class="btn btn-danger">
    <i class="icon-trash"></i> Delete
  </button>
  <a href="/users" class="btn">
    Back to users
  </a>
</div>

