<h1>Videos</h1>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="video in videos">
      <td>
        <a href="/videos/{{video.id}}">
          {{video.name}}
        </a>
      </td>
        <td>
          {{video.status}}
        </td>
      <td>
        <a href="/videos/{{video.id}}/edit"
          class="btn btn-primary"><i class="icon-edit"></i>
          Edit
        </a>
        <button ng-click="destroy()" class="btn btn-danger">
          <i class="icon-trash"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <a href='/videos/new' class="btn btn-primary">
    <i class="icon-plus"></i>New
  </a>
</p>
