<h1>Video</h1>

<p>
  <b>Name</b><br>
  {{video.name}}
</p>

<p>
  <b>Status</b><br>
  {{video.status}}
</p>

<div class="form-actions">
  <a href="/videos/{{video.id}}/edit"
    class="btn btn-primary"><i class="icon-edit"></i>
    Edit Video
  </a>
  <button ng-click="destroy()" class="btn btn-danger">
    <i class="icon-trash"></i> Delete
  </button>
  <a href="/videos" class="btn">
    Back to videos
  </a>
</div>

